* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.orange {
    background-color: #ff6600;
    height: 50vh;
    position: absolute;
    width: 100%;
    transition: transform 0.8s ease;
}

.top {
    top: 0;
}

.bottom {
    bottom: 0;
}

.main-content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    position: relative;
}

.laranja {
    height: 120px;
    width: 120px;
    cursor: pointer;
    transition: transform 0.8s ease, opacity 0.8s ease;
    user-select: none; /* Prevent selection */
    -webkit-user-select: none; /* For Safari */
    -ms-user-select: none;
    position: absolute;
    z-index: 2;
}


.text-content {
    height: 100%;
    width: 100%;
    display: flex; /* Use flex for centering content */
    align-items: center;
    justify-content: center;
    opacity: 0; /* Initially invisible */
    transform: scale(0.9); /* Slightly smaller for a smoother entry effect */
    transition: transform 0.8s ease, opacity 0.8s ease;
    background-color: #0B192C;
    color: white;
}
